<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="riva.vincent.outerspacemanager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <service
            android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name="riva.vincent.outerspacemanager.SignUp.SignUpActivity"
            android:label="Login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.Login.LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.Main.MainActivity"
            android:label="Main" >
        </activity>
        <!--<activity
            android:name="riva.vincent.outerspacemanager.Building.BuildingActivity"
            android:label="Building" >
        </activity>-->
        <activity
            android:name="riva.vincent.outerspacemanager.Fleet.FleetActivity"
            android:label="Fleet" >
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.Shipyard.ShipyardActivity"
            android:label="Shipyard" >
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.Building.Fragments.BuildingMain"
            android:label="Building" >
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.Building.Fragments.BuildingDetail"
            android:label="BuildingDetail" >
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.Search.SearchActivity"
            android:label="Search" >
        </activity>
        <activity
            android:name="riva.vincent.outerspacemanager.galaxy.GalaxyActivity"
            android:label="Galaxy" >
        </activity>
    </application>
</manifest>
